<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="~/images/logo.png" alt="Logotipo del ministerio" />
            </a>
            @Html.ActionLink("MINECO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Catalogo", "Index", "Catalogo")</li>
                <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                <li>@Html.ActionLink("Ministerio", "Index", "Ministerio")</li>
                <li>@Html.ActionLink("Demostración", "Demo", "Home")</li>
                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                <li>@Html.ActionLink("Contacto", "Contacto", "Ministerio")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

